# NodeJS
node_modules/

# Production/Build outputs
dist/
build/

# Logs and system files
.DS_Store

# Local environment variables
.env

# IDEs and Editors
.idea/

# VS Code configuration
.vscode/*
!.vscode/recommended-extensions.json

# Development environment only files
README.md
